.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.video-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  padding: 0px 15px;
}

.video-thumbnail {
  width: 120px;
  align-self: center;
}

.video-text {
  font-size: 12px;
}

.add-button {
  margin-top: auto;
  width: 130px;
  align-self: center;
}