.video-player-container {
    display: flex;
    flex-direction: column;
  }
  
  .video-wrapper iframe {
    width: 750px;
    height: 421.875px;
  }

  .search-button {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .btn {
    width: 160.8px;
  }